<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <style>
  body {
     background-image: linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ), url("https://upload.wikimedia.org/wikipedia/commons/3/36/Sweet_Summer_Rainbow_Fruit_Salad.jpg");
     background-color: #cccccc;
  }
  a:link, a:visited, a:hover, a:active {
      color: white;
  }
  </style>
</head>

<body>
  <div class="bg"></div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="color:white">
      <i class="fa fa-glass" style="color:teal"></i> Smooth Docker
    </a>
  </nav>

  <div class="jumbotron jumbotron-fluid" style="background-color: rgb(255,255,255,0.3)">
    <div class="container">
      <h1 class="display-4"><center>Your randomly chosen smoothie ingredients:</center></h1>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
      {% for r in results %}
      <div class="card text-white bg-success mb-3">
        <img class="card-img-top" src="{{ r.img }}" alt="Card image cap" style="height:70%;width:100%">
        <div class="card-body">
          <center>
            <a href="{{ r.source }}">
              <p class="card-text">#{{ r._id }} {{ r.name }}</p>
            </a>
          </center>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>
