<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="color:white">
      <i class="fa fa-plus-circle" style="color:red"></i> Pokemon - Gotta pick your team!
    </a>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Your randomly chosen team:</h1>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
      {% for r in results %}
      <div class="card text-white bg-success mb-3" style="width: 18rem;">
        <img class="card-img-top" src="{{ r.art_url }}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">#{{ r.pkdx_id }} {{ r.name }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>
